/* Fenix Data Editor Component */

#colEditTbl{
  tbody{
    td{
      padding: 10px;

      border: 0;
    }
    #colEditTitle{
      >div{
        border: 1px solid #c7c7c7 !important;

      }
    }
  }

}

.contentcolEditTitle{
  width: 100%;
}


.fx-bootstrap-equalheight-container {
  overflow: hidden;
}

.fx-bootstrap-equalheight-column{
  margin-bottom: -100%;
  padding-bottom: 100%;

}

#cntDSDGrid{
  margin-bottom: 35px;
}


#mainContainer{
  padding: 0 20px;

  > .row {
    margin: 0 -21px;
  }
}

#mainContainer.obj-box{
overflow: hidden;
}

.fx-dsdedit-addcolumn-btn{
  button{
    margin-bottom: 35px;
    margin-right: 8px ;
  }
}


.fx-dark-bg{
  background-color: $fenix-dark-bg;
  color: white !important;

  *{
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent;
  }

  .jqx-widget-header-fenix, .jqx-grid-fenix .jqx-widget-header-fenix{
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent;
  }

  *:hover{
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent;
  }

  .jqx-widget-header-fenix:hover, .jqx-grid-fenix:hover .jqx-widget-header-fenix:hover{
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent;
  }

  .jqx-fill-state-hover-fenix, .jqx-widget-fenix .jqx-grid-cell-hover-fenix{
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent;
  }


  .jqx-fill-state-pressed-fenix, .jqx-widget-fenix .jqx-grid-cell-selected-fenix{
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent;
  }

  .fx-bullet-number{
    background-color: white !important;
    color: $fenix-dark-bg !important;
  }


}
