/* Fenix UI  DSD Editor  CSS
PUT THIS AFTER BOOTSTRAP */
/* Fenix UI  DSD Editor  CSS - Mixins */
/* CSS TRANSFORMS */
/* CSS TRANSITION */
/* 3D flow */
/* Blurred */
/* Color Mixins */
/* Animations */
/* Fenix UI  DSD Editor  CSS - Colors */
/* Fenix Colors */
/* Specials */
/* Fenix Typography */
/*  FENIX COMMONS */
body {
  background-color: #f8f8f8; }

/* Reset Jqwidget content font */
.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal {
  font: normal normal 300 14px/normal "Roboto Condensed"; }

.fx-validation {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.fx-red-cell {
  background-color: orangered;
  color: white; }

.obj-box, .obj-box-radius10, .obj-box-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #D8D8D8;
  border-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto; }

.obj-box-radius10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.obj-box-title {
  padding-top: 5px; }
  .obj-box-title h4 {
    text-transform: uppercase;
    color: #0076ff;
    font-size: 14px;
    font-weight: 300; }

.title-ico {
  height: 30px;
  width: 30px;
  margin: -4px 10px 0 0; }

.fx-bullet-number {
  display: block;
  float: left;
  font-size: 15px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  background-color: #0076ff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: white;
  margin-right: 10px; }

/* Iframe Style */
.iframe-container {
  position: relative;
  padding-bottom: 40.67%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

/* Iframe showcase */
.iframe-container-trade {
  position: relative;
  padding-bottom: 310%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container-trade iframe, .iframe-container-poverty iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

/* FENIX GRID STYLE - Versione 0.1.0 */
.jqx-grid-column-header, .jqx-grid-columngroup-header {
  font-weight: 300; }

.jqx-widget-content-fenix {
  color: #222;
  text-shadow: none;
  border-color: #c7c7c7;
  background: #fff; }

.jqx-widget-header-fenix, .jqx-grid-fenix .jqx-widget-header-fenix {
  text-shadow: none;
  border-color: transparent;
  background-color: #f1edec;
  background-image: -moz-linear-gradient(top, #f1edec, #f1edec);
  background-image: -ms-linear-gradient(top, #f1edec, #f1edec);
  background-image: -o-linear-gradient(top, #f1edec, #f1edec);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f1edec), to(#f1edec));
  background-image: -webkit-linear-gradient(top, #f1edec, #f1edec);
  background-image: linear-gradient(top, #f1edec, #f1edec);
  background-image: linear-gradient(to bottom, #f1edec, #f1edec);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-grid-column-menubutton-fenix, .jqx-widget-fenix.jqx-grid-column-menubutton-fenix {
  border-color: transparent; }

.jqx-grid-cell-fenix, .jqx-widget-fenix .jqx-grid-cell-fenix {
  background-color: #fff;
  color: #666;
  text-shadow: none; }

.jqx-fill-state-normal-fenix {
  color: #222;
  text-shadow: none;
  border-color: #e6e6e6;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-button-fenix {
  color: #222;
  text-shadow: none;
  border-color: #aaa;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

#contentcntDSDGrid .jqx-grid-cell {
  margin: 0;
  overflow: hidden; }

.jqx-grid-selectionarea-fenix {
  border-color: #e6e6e6;
  background-color: #efefef; }

.jqx-widget-fenix .jqx-grid-cell-sort-fenix, .jqx-widget-fenix .jqx-grid-cell-filter-fenix, .jqx-widget-fenix .jqx-grid-cell-pinned-fenix, .jqx-grid-cell-sort-fenix, .jqx-grid-cell-filter-fenix, .jqx-grid-cell-pinned-fenix {
  background-color: #aaa;
  color: #666;
  text-shadow: none; }

.jqx-widget-fenix .jqx-grid-cell-alt-fenix, .jqx-widget-fenix .jqx-grid-cell-sort-alt-fenix, .jqx-widget-fenix .jqx-grid-cell-pinned-alt-fenix, .jqx-widget-fenix .jqx-grid-cell-filter-alt-fenix, .jqx-grid-cell-alt-fenix, .jqx-grid-cell-sort-alt-fenix, .jqx-grid-cell-filter-alt-fenix {
  background-color: #f9f9f9;
  color: #666;
  text-shadow: none; }

.jqx-fill-state-hover-fenix, .jqx-widget-fenix .jqx-grid-cell-hover-fenix {
  color: #222;
  text-shadow: none;
  border-color: #999;
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-fill-state-pressed-fenix, .jqx-widget-fenix .jqx-grid-cell-selected-fenix {
  color: #666666;
  text-shadow: none;
  border-color: #999;
  background-color: #f1edec;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-switchbutton-label-on-fenix {
  color: #222;
  text-shadow: none;
  border-color: #999;
  background-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-tabs-title-selected-top-fenix, .jqx-tabs-selection-tracker-top-fenix {
  color: #222;
  text-shadow: none;
  border-color: #c7c7c7;
  border-bottom: 1px solid #fff;
  background-image: none;
  background-color: white; }

.jqx-tabs-title-selected-bottom-fenix, .jqx-tabs-selection-tracker-bottom-fenix {
  color: #222;
  text-shadow: none;
  border-color: #c7c7c7;
  border-top: 1px solid #fff;
  background-image: none;
  background-color: white; }

.jqx-splitter-splitbar-hover-fenix {
  background: #e8e8e8; }

.jqx-splitter-splitbar-vertical-fenix, .jqx-splitter-splitbar-horizontal-fenix, .jqx-slider-track-horizontal-fenix, .jqx-slider-track-vertical-fenix {
  background: #efefef; }

.jqx-splitter-collapse-button-horizontal-fenix, .jqx-splitter-collapse-button-vertical-fenix, .jqx-slider-rangebar-fenix {
  background: #d1d1d1; }

.jqx-scrollbar-state-normal-fenix {
  background-color: #ffffff;
  border-color: transparent; }

.jqx-grid-bottomright-fenix, .jqx-panel-bottomright-fenix, .jqx-listbox-bottomright-fenix {
  background-color: #efefef; }

.jqx-scrollbar-thumb-state-normal-fenix {
  background-color: #e1dfda;
  background-color: #e1dfda;
  background-image: -moz-linear-gradient(left, #efefef, #efefef);
  background-image: -ms-linear-gradient(left, #efefef, #efefef);
  background-image: -o-linear-gradient(left, #efefef, #efefef);
  background-image: -webkit-gradient(linear, left top, right top, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(left, #efefef, #efefef);
  background-image: linear-gradient(left, #efefef, #efefef);
  background-image: linear-gradient(left right, #efefef, #efefef); }

.jqx-scrollbar-thumb-state-normal-horizontal-fenix {
  background-color: #efefef;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-thumb-state-hover-fenix {
  background-color: #888888;
  border-color: #888888;
  background-image: -moz-linear-gradient(left, #888888, #888888);
  background-image: -ms-linear-gradient(left, #888888, #888888);
  background-image: -o-linear-gradient(left, #888888, #888888);
  background-image: -webkit-gradient(linear, left top, right top, from(#888888), to(#888888));
  background-image: -webkit-linear-gradient(left, #888888, #888888);
  background-image: linear-gradient(left, #888888, #888888);
  background-image: linear-gradient(left right, #888888, #888888); }

.jqx-scrollbar-thumb-state-hover-horizontal-fenix {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-thumb-state-pressed-fenix {
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  background-image: -moz-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, left top, right top, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(left right, #d1d1d1, #d1d1d1); }

.jqx-scrollbar-thumb-state-pressed-horizontal-fenix {
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-button-state-normal-fenix {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-button-state-hover-fenix {
  background-color: #FFFFFF;
  border-color: transparent;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-button-state-pressed-fenix {
  background-color: #d1d1d1;
  border-color: #909090;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-radiobutton-check-checked-fenix {
  background: #111;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid; }

.jqx-rc-tl-fenix {
  -moz-border-radius-topleft: 0;
  -webkit-border-radius-topleft: 0;
  border-radius-topleft: 0; }

.jqx-rc-tr-fenix {
  -moz-border-radius-topright: 0;
  -webkit-border-radius-topright: 0;
  border-radius-topright: 0; }

.jqx-rc-bl-fenix {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius-bottomleft: 0;
  border-radius-bottomleft: 0; }

.jqx-rc-br-fenix {
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius-bottomright: 0;
  border-radius-bottomright: 0; }

.jqx-rc-t-fenix {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0; }

.jqx-rc-b-fenix {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

.jqx-rc-r-fenix {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

.jqx-rc-l-fenix {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.jqx-radiobutton-default-fenix, .jqx-radiobutton-fenix, .jqx-radiobutton-check-checked-fenix, .jqx-radiobutton-hover-fenix, .jqx-radiobutton-check-indeterminate-fenix, .jqx-radiobutton-check-indeterminate-disabled-fenix, .jqx-slider-button-fenix {
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important; }

.jqx-rc-all-fenix, .jqx-tooltip-fenix, .jqx-tooltip-text-fenix, .jqx-tooltip-main-fenix {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.jqx-menu-vertical-fenix {
  background: white; }

.jqx-widget-fenix .jqx-grid-column-header-fenix, .jqx-widget-fenix .jqx-grid-cell-fenix, .jqx-widget-fenix .jqx-grid-group-cell-fenix, .jqx-grid-cell-fenix {
  border-color: #e5e5e5; }

.jqx-tooltip-fenix, .jqx-tooltip-main-fenix {
  color: #222;
  text-shadow: none;
  border-color: #aaa;
  background-color: #efefef; }

.jqx-combobox-content-fenix, .jqx-input-fenix {
  color: #222;
  text-shadow: none;
  border-color: #aaa;
  background-color: white; }

.jqx-combobox-input-fenix {
  color: #222;
  text-shadow: none; }

.jqx-input-content-fenix {
  color: #222;
  text-shadow: none;
  background-color: white; }

.jqx-fill-state-focus-fenix, .jqx-popup-fenix .jqx-fill-state-focus-fenix {
  border-color: #111111; }

.jqx-popup-fenix.jqx-listbox-fenix, .jqx-popup-fenix.jqx-calendar-fenix, .jqx-menu-dropdown-fenix, .jqx-popup-fenix.jqx-dropdownbutton-popup-fenix {
  color: #222;
  text-shadow: none;
  border-color: #111;
  background-color: white; }

.jqx-fill-state-normal {
  background-color: #f1edec; }

.jqx-rc-all {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
  border-color: #eaeaea; }

/* Fenix Data Editor Component */
#colEditTbl tbody td {
  padding: 10px;
  border: 0; }
#colEditTbl tbody #colEditTitle > div {
  border: 1px solid #c7c7c7 !important; }

.contentcolEditTitle {
  width: 100%; }

.fx-bootstrap-equalheight-container {
  overflow: hidden; }

.fx-bootstrap-equalheight-column {
  margin-bottom: -100%;
  padding-bottom: 100%; }

#cntDSDGrid {
  margin-bottom: 35px; }

#mainContainer {
  padding: 0 20px; }
  #mainContainer > .row {
    margin: 0 -21px; }

#mainContainer.obj-box, #mainContainer.obj-box-radius10, #mainContainer.obj-box-title {
  overflow: hidden; }

.fx-dsdedit-addcolumn-btn button {
  margin-bottom: 35px;
  margin-right: 8px; }

.fx-dark-bg {
  background-color: #666666;
  color: white !important; }
  .fx-dark-bg * {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent; }
  .fx-dark-bg .jqx-widget-header-fenix, .fx-dark-bg .jqx-grid-fenix .jqx-widget-header-fenix {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent; }
  .fx-dark-bg *:hover {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent; }
  .fx-dark-bg .jqx-widget-header-fenix:hover, .fx-dark-bg .jqx-grid-fenix:hover .jqx-widget-header-fenix:hover {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent; }
  .fx-dark-bg .jqx-fill-state-hover-fenix, .fx-dark-bg .jqx-widget-fenix .jqx-grid-cell-hover-fenix {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent; }
  .fx-dark-bg .jqx-fill-state-pressed-fenix, .fx-dark-bg .jqx-widget-fenix .jqx-grid-cell-selected-fenix {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
    background: transparent; }
  .fx-dark-bg .fx-bullet-number {
    background-color: white !important;
    color: #666666 !important; }

/*Added to make the Date picker samller*/
.fx-dsdedit-tblDateFromTo table td {
   /* width:100px;
  padding:1px !important;
    background-color:aqua;*/
}

#divRngFrom table{
    }
#divRngFrom table td {
   /* padding:0px !important;
    background-color:aqua;*/
}

.MLTextEditor_table td {
    padding:2px !important;
}